
body {
    font-family: Arial, sans-serif;
    display: grid;
    flex-direction: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f2f2f2;
    grid-template-rows: auto;
    row-gap: 20px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.number {
    padding: 10px 20px;
    font-size: 24px;
    border: 1px solid grey;
    /* background-color: #3498db; */
    color: #111010;
    border-radius: 50%;
    /* margin: 0 5px; */
    cursor: pointer;
    transition: background-color 0.3s;
}

.bar {
    width: 50px;
    height: 3px;
    background-color: #c2bebe;
    transition: background-color 0.3s;
}
.bar.selected{
    background-color: #3498db;
}


.number.selected {
    background-color: #3498db;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: -50rem;
    
}

.button {
    padding: 10px 20px;
    margin: 0 5px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #b1bdc5;
}
